@model IEnumerable<HelpSMA.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css">

    <title>Pedidos Cadastrados</title>
</head>

<body style="padding-top:10px">

    <div class=" card text-center">
        <div class=" bg-light mb-3">
            <div class="card-header">
                <div class="logo">
                    <img src="~/css/imagens/Logo.png" class="card-img" 
                         style="float: left; margin-right: auto;  position:center; height:70px; width:50px; margin-left:auto" />
                </div>
                <br />
                <b>HELP DESK</b>
                <br />
                <br />
            </div>
        </div>
    </div>

    <div class=" form-group">
        <div class=" card-body">
            <div class=" col-md-12">
                <h5 class=" card-title"> <b>Bem-vindo(a)</b> </h5>
                <p class=" card-text">@DateTime.Now</p>
            </div>
        </div>





        <div class=" col-md-12">

            <table class="table table-hover">

                <thead class="thead-light">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Item)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Data)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Horário)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Solicitante)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ramal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Seção)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mensagem)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Situação)
                        </th>
                        <th>
                            Opções
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Item)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Horário)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Solicitante)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ramal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Seção)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mensagem)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Situação)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ReservaId">Alterar</a> |
                                <a asp-action="Details" asp-route-id="@item.ReservaId">Detalhes</a> |
                                <a asp-action="Delete" asp-route-id="@item.ReservaId">Excluir</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <br />
            <a asp-action="Create" class="btn btn-primary">Nova Requisiçao</a>
            <a asp-action="Login" asp-controller="Reservas" class="btn btn-secondary">Administrador</a>

        </div>
    </div>

    <div class=" card-body">
        <div class=" col-md-12">
            <h6 class=" card-title"> <b>Observações:</b> </h6>
            <h7 class=" card-text">Solicitações com prazo menor que <b>24 horas</b> não serão atendidas.</h7>
        </div>
    </div>
    <br />
    <br />
    <div class=" card text-left ">
        <div class=" bg-light mb-3">
            <div class=" card-footer text-muted">

                © 2020 Ismael Albuquerque

            </div>
        </div>
    </div>
</body>
</html>
